*.bin
*.lock
*.iml
*.class
*.idea
*.bat
*.war
.log
logs
build
OperationsEngine.log
out
.build/
.build/*
!pom.xml
!.gitignore
.gradle/
target/
gradle/*
gradlew*
gradlew.bat
gradlew
/bin
.project
.classpath
.settings
.rar